html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-family: "PT Sans", Candara, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.about-us {
  float: left;
  width: 519px;
  height: 368px;
}

.address {
  width: 322px;
  color: #f1f5f7;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.btn {
  font-family: Cuprum, Candara, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  height: 38px;
  background-color: #ee3643;
}

.category {
  float: left;
  margin-right: 20px;
  width: 300px;
  height: 123px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}


.category:nth-child(n+3) {
  float: right;
  margin-right: 0;
}

.category:nth-child(n+4) {
  margin-top: 20px;
}

.category a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.cart {
  float: left;
  padding-top: 14px;
  width: 150px;
}

.checkout {
  float: right;
  padding-top: 14px;
  width: 150px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.contacts {
  float: right;
  width: 301px;
  height: 368px;
}

.delivery {
  background-color: #f6b22d;
}

.favorites {
  float: left;
  padding-top: 14px;
  width: 150px;
}

.feature-header-title {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
  padding-top: 68px;
}

.footer-top {
  margin-bottom: 27px;
}

.footer-copyright {
  float: left;
  margin-top: 39px;
  width: 310px;
}

.footer-logo {
  float: left;
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-social {
  float: left;
  margin-left: 80px;
  margin-top: 39px;
}

.footer-mailto {
  float: left;
  margin-left: 65px;
  margin-top: 24px;
}

.footer-credits {
  float: right;
  margin-top: 24px;
}

.header-middle {
  margin-bottom: 44px;
}

.header-title {
  float: left;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  line-height: 30px;
}

.instruments {
  background-color: #4aafde;
}

.item-hover {
  display: none;
}

.logo {
  float: left;
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo a img:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.materials {
  background-color: #f6b22d;
}

.main-about-us {
  height: 536px;
}

.main-about-us h2 {
  padding-top: 55px;
}

.main-categories {
  margin-bottom: 53px;
}

.main-contacts {
  float: left;
}

.main-features {
  height: 522px;
  background-color: #f5f9f9;
}

.main-footer-bottom {
  height: 107px;
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-color: #33445a;
}

.main-footer-bottom a {
  color: #ffd180;
  text-decoration: none;
}

.main-footer-top {
  height: 193px;
  background-color: #3b546f;
}

.main-footer-top a {
  color: #f1f5f7;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.main-footer-top li {
  display: inline-block;
  list-style: none;
}

.footer-navigation-top {
  float: right;
}

.footer-navigation-bottom {
  float: right;
}

.footer-navigation-bottom a {
  color: #ffd180;
}

.main-header {
  background-color: #f4f8fa;
  margin-bottom: 59px;
}

.main-header-top {
  height: 42px;
  background-color: #33445a;
  margin-bottom: 46px;
}

.main-header-top a {
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.main-header-middle nav {
  float: left;
  width: 940px;
  height: 60px;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  margin-bottom: 60px;
}

.main-navigation a {
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  margin-left: 52px;
  padding-left: 0;
}

.main-navigation li {
  display: inline-block;
}

.main-popular-brands {
  margin-bottom: 65px;
}

.main-popular-header {
  height: 89px;
  margin-bottom: 20px;
  padding-left: 30px;
  background-color: #f7f3ec;
}

.main-popular-header a {
  float: right;
  width: 253px;
}

.main-popular-header .btn {
  margin-top: 25px;
  margin-right: 24px;
}

.main-popular-items {
  margin-bottom: 21px;
}

.phone {
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
}

.product-item {
  float: left;
  width: 218px;
  height: 316px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.product-item:last-child {
  margin-right: 0;
}

.popular-brand {
  float: left;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.popular-brand:nth-child(4), .popular-brand:last-child {
  margin-right: 0;
}

.tagline {
  float: left;
  margin-left: 43px;
  margin-right: 71px;
  width: 196px;
  height: 60px;
  color: #ee3643;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.top-features {
  float: left;
  max-height: 285px;
  overflow: hidden;
}

.top-feature {
  float: left;
  width: 630px;
  height: 282px;
}

.top-feature p {
  width: 370px;
}

.top-feature:first-child {
  background: url(../img/service-delivery.png) no-repeat;
  background-position: right bottom;
}

.top-feature:nth-child(2) {
  background: url(../img/service-guarantee.png) no-repeat;
  background-position: right bottom;
}

.top-feature:last-child {
  background: url(../img/service-credit.png) no-repeat;
  background-position: right bottom;
}

.technics {
  background-color: #cc79d1;
}

.sales {
  background-color: #85d179;
}

.search {
  float: left;
  padding-top: 14px;
  width: 270px;
}

.slider {
  float: left;
  max-width: 620px;
  max-height: 286px;
  overflow: hidden;
}

.slide {
  float: left;
  width: 620px;
  height: 266px;
}

.slide:first-child {
  background-image: url(../img/slider.jpg);
}

.slide:last-child {
  background-image: url(../img/second-slider.jpg);
}

.user-block {
  float: right;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
margin-left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2) {
margin-left: 660px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
margin-left: -660px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
margin-left: 0;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: 0;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: 660px;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 1220px;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: -660px;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: 0px;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 660px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: -1220px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: -660px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 0px;
}
