html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", Candara, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  color: #000000;
}

a {
  text-decoration: none;
}

.invisible {
  display: none;
}

.about-us {
  float: left;

  width: 519px;
  height: 368px;
}

.about-us ul {
  margin-bottom: 34px;
}

.about-us .btn {
  display: block;

  width: 200px;
}

.about-us p:nth-child(3) {
  margin-top: 25px;
}

.about-category {
  height: 261px;

  background-color: #f3f7f9;
}

.address {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  float: left;

  width: 380px;

  color: #f1f5f7;
}

.breadcrumbs {
  line-height: 18px;

  position: relative;

  margin-top: 21px;

  text-transform: uppercase;
}

.breadcrumbs a {
  margin-right: 40px;

  color: #000000;
}

.breadcrumbs a:first-child {
  font-size: 0;

  margin-right: 50px;
}

.breadcrumbs a:first-child::after {
  position: absolute;
  top: 1px;
  left: 0;

  width: 15px;
  height: 12px;

  content: "";

  background: url("../img/icons/sprite-catalog-breadcrumbs.png") no-repeat;
  background-position: -1px -1px;
}

.breadcrumbs a::before {
  position: absolute;
  top: 2px;
  left: 30px;

  width: 8px;
  height: 12px;

  content: "";

  background: url("../img/icons/sprite-catalog-breadcrumbs.png") no-repeat;
  background-position: -18px -1px;
}

.breadcrumbs a:nth-child(2)::before {
  left: 122px;
}

.breadcrumbs a:nth-child(3)::before {
  left: 245px;
}

.breadcrumbs a:last-child::before {
  left: 390px;

  width: 0;
  height: 0;
}

.category {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  position: relative;

  float: left;

  width: 300px;
  height: 123px;
  margin-right: 20px;

  color: #ffffff;
}

.category::before {
  position: absolute;

  content: "";

  background: url("../img/icons/sprite-big-icons.png") no-repeat;
}

.category p {
  margin-top: 20px;
  margin-left: 23px;
}

.category-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  color: #ffffff;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.category-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category:nth-child(n+3) {
  float: right;

  margin-right: 0;
}

.category:nth-child(n+4) {
  margin-top: 20px;
}

.category a {
  display: block;

  width: 135px;
  height: 27px;
  margin-top: -11px;
  margin-left: 25px;
  padding-top: 11px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.cart {
  position: relative;

  float: left;

  width: 101px;
  height: 30px;
  padding-top: 12px;
  padding-left: 49px;
}

.cart:hover {
  background-color: #212a3a;
}

.cart:active {
  color: #999ca1;
  background-color: #161d29;
}

.cart::before {
  position: absolute;
  top: 12px;
  left: 16px;

  width: 17px;
  height: 16px;

  content: "";

  opacity: 0.3;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: 0 0;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.cart-full {
  background-color: #ee3643;
}

.cart-full:hover {
  background-color: #bb222f;
}

.catalog-header {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  width: 886px;
  margin-top: 16px;
  padding: 30px 27px;

  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-filters {
  float: left;

  width: 220px;
  margin-top: -7px;
}

.catalog-items {
  float: right;

  width: 700px;
}

.catalog-items article {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-items article:nth-child(3n) {
  margin-right: 0;
}

.catalog-sort {
  position: relative;

  float: right;

  width: 677px;
  height: 24px;
  margin-bottom: 20px;
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 18px;

  border-radius: 5px;
  background-color: #f7f3ec;
}

.catalog-sort a {
  margin-right: 63px;

  white-space: nowrap;
  text-decoration: none;

  color: #adaaa5;
  border-bottom: 1px dotted #ef3342;
}

.catalog-sort a:nth-child(n+4) {
  margin-right: 0;
}

.catalog-sort a:hover {
  color: #000000;
  border-bottom: 1px solid #ef3342;
}

.catalog-sort a:active {
  color: #ef3342;
  border-bottom: none;
}

.catalog-sort span {
  margin-right: 140px;
}

.sort {
  font-size: 0;
}

.sort::before {
  position: absolute;
  top: 14px;

  width: 11px;
  height: 10px;

  content: "";

  opacity: 0.3;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
}

.sort-down::before {
  right: 17px;

  background-position: -346px 0;
}

.sort-up::before {
  right: 50px;

  background-position: -371px 0;
}

.sort-down:hover::before {
  opacity: 1;
}

.sort-up:hover::before {
  opacity: 1;
}

.sort-up-active::before {
  opacity: 1;
  background-position: -385px 0;
}

.sort-down-active::before {
  opacity: 1;
  background-position: -360px 0;
}

a.active {
  color: #ee3643;
  border-bottom: none;
}

.checkout {
  float: right;

  width: 130px;
  height: 30px;
  padding-top: 12px;
  padding-left: 20px;

  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: #9ebb8e;
  background-color: #518534;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.container {
  min-width: 940px;
  max-width: 940px;
  margin: 0 auto;
}

.contacts {
  float: right;

  width: 301px;
  height: 368px;
}

.contacts .btn {
  display: block;

  width: 281px;
}

.contacts .map {
  margin-top: 31px;
  margin-bottom: 32px;

  cursor: pointer;
}

.delivery {
  background-color: #ffc047;
}

.delivery-company {
  margin-top: 18px;
}

.delivery-company li {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;

  position: relative;

  margin-left: -3px;
  padding-bottom: 16px;

  list-style: none;
  list-style: none;
}

.delivery-company li:last-child {
  padding-bottom: 0;
}

.delivery-company li::before {
  position: absolute;
  top: 11px;
  left: -37px;

  width: 25px;
  height: 2px;

  content: "";

  background-color: #fb565a;
}

.delivery::before {
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-position: -280px 0;
}

.favorites {
  position: relative;

  float: left;

  width: 106px;
  height: 30px;
  padding-top: 12px;
  padding-left: 44px;
}

.favorites::before {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  content: "";

  opacity: 0.3;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -20px 0;
}

.favorites:hover {
  background-color: #212a3a;
}

.favorites:active {
  color: #999ca1;
  background-color: #161d29;
}

.favorites:hover::before {
  opacity: 1;
}

.favorites:active::before {
  opacity: 0.5;
}

.catalog-headers {
  text-transform: uppercase;
}

.filter-name {
  display: block;
  float: left;

  width: 197px;
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 18px;

  border-radius: 5px;
  background-color: #f7f3ec;
}

.filters h3 {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;

  margin-bottom: 10px;

  text-transform: uppercase;

  color: #000000;
}

.filters {
  position: relative;

  margin-bottom: 25px;
}

.filters::after {
  position: absolute;

  width: 100%;
  height: 1px;

  content: "";

  background: #e5e5e5;
}

.filters:nth-child(1)::after {
  bottom: -26px;
}

.filters:nth-child(2)::after {
  bottom: -11px;
}

.brands-filter {
  position: relative;

  margin-top: 40px;
}

.power-type-filter {
  position: relative;

  margin-top: 28px;
}

.filters:nth-child(3)::after {
  content: none;
}

.range-controls {
  position: relative;

  margin-top: 15px;
  margin-bottom: 15px;
  padding: 39px 20px;

  border-radius: 5px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 85%;
  height: 2px;

  background-color: #00cb75;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #b7b7b7;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle:hover {
  background: #d7d7d7;
}

.range-controls .min-toggle {
  left: 20px;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls {
  font-size: 0;

  margin-top: -6px;
}

.price-controls label {
  display: inline-block;

  text-align: center;
}

.price-controls input {
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  width: 53px;
  padding: 10px 20px;

  text-align: center;

  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f7f3ec;
}

.price-controls span {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  margin: 10px;

  color: #000000;
}

.brands-filter h3 {
  margin-top: 42px;
  margin-bottom: 6px;
}

.brands-filter input {
  display: none;
}

.brands-filter label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  position: relative;

  display: block;

  padding: 10px 35px;

  cursor: pointer;
  text-transform: uppercase;

  color: #000000;
}

.brands-filter label::before {
  position: absolute;
  top: 7px;
  left: 0;

  width: 23px;
  height: 23px;

  content: "";

  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -40px 0;
}

.brands-filter input:checked + label::before {
  width: 27px;

  background-position: -65px 0;
}

.brands-filter input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.brands-filter input:disabled + label::before {
  opacity: 0.3;
}

.power-type-filter input {
  display: none;
}

.power-type-filter label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  position: relative;

  display: block;

  margin-top: -5px;
  margin-bottom: 10px;
  padding: 8px 35px;

  cursor: pointer;
  text-transform: uppercase;

  color: #000000;
}

.power-type-filter label::before {
  position: absolute;
  top: 6px;
  left: 0;

  width: 25px;
  height: 25px;

  content: "";

  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -95px 0;
}

.power-type-filter input:checked + label::before {
  background-position: -125px 0;
}

.power-type-filter input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.power-type-filter input:disabled + label::before {
  opacity: 0.3;
}

.submit-btn {
  font-size: 12px;
  line-height: 20px;

  display: block;

  margin-top: 70px;
  padding: 8px 38px;

  cursor: pointer;
  text-transform: uppercase;

  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.submit-btn:hover {
  border-color: #bdc6ca;
}

.submit-btn:active {
  border-color: #ee3643;
  outline: none;
}

.feature-header-title {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;

  margin-bottom: 30px;
  padding-top: 68px;

  text-transform: uppercase;

  color: #000000;
}

.feature-header-text {
  margin-bottom: -25px;
}

.footer-top {
  margin-bottom: 27px;
}

.footer-copyright {
  float: left;

  width: 300px;
  margin-top: 37px;
}

.footer-logo {
  float: left;

  width: 220px;
  height: 68px;

  background-color: #ef3341;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-logo a img:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-social {
  position: relative;

  float: left;

  width: 150px;
  margin-top: 30px;
  margin-left: 81px;

  text-align: center;
}

.social-btn {
  font-size: 0;

  display: inline-block;

  width: 41px;
  height: 41px;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-btn::before {
  position: absolute;

  content: "";

  background: url("../img/icons/sprite-small-icons.png") no-repeat center;
}

.social-btn-vk::before {
  top: 21px;
  left: 19px;

  width: 20px;
  height: 12px;

  background-position: -155px 0;
}

.social-btn-fb::before {
  top: 16px;
  left: 70px;

  width: 10px;
  height: 18px;

  background-position: -180px 0;
}

.social-btn-ig::before {
  top: 17px;
  left: 112px;

  width: 17px;
  height: 17px;

  background-position: -193px 0;
}

.social-btn:hover {
  background-color: #ee3643;
}

.footer-mailto {
  display: block;
  float: left;

  width: 160px;
  margin-top: 21px;
  margin-left: 110px;
}

.footer-credits {
  float: right;

  margin-top: 21px;
  margin-right: 14px;
}

.footer-mailto a,
.footer-credits a {
  display: block;

  margin-top: -16px;
}

.footer-mailto a:hover,
.footer-credits a:hover {
  text-decoration: underline;
}

.footer-mailto a:active,
.footer-credits a:active {
  text-decoration: none;

  color: #ee3643;
}

.header-middle {
  margin-bottom: 39px;
}

.header-title {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  float: left;

  padding-top: 5px;

  text-transform: uppercase;

  color: #32425c;
}

.instruments {
  background-color: #3bbce3;
}

.instruments::before {
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-position: -135px 0;
}

.logo {
  float: left;

  width: 220px;
  height: 47px;

  background-color: #ef3341;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo img:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo img:active {
  background-color: #bb222f;
}

.materials {
  background-color: #ffc047;
}

.materials::before {
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-position: 0 0;
}

.main-about-us {
  height: 536px;
}

.main-about-us h2 {
  padding-top: 56px;
}

.main-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  display: block;

  padding-top: 12px;

  text-align: center;

  color: #32425c;
}

.main-categories {
  margin-top: 59px;
  margin-bottom: 53px;
}

.main-contacts {
  float: left;

  width: 270px;
  margin-top: 10px;
}

.main-features {
  height: 522px;

  background-color: #f5f9f9;
}

.main-footer-bottom {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 16px;
  line-height: 18px;

  height: 107px;

  color: #ffffff;
  background-color: #293449;
}

.main-footer-bottom a {
  color: #ffd180;
}

.main-footer-top {
  height: 193px;

  background-color: #32425c;
}

.main-footer-top a {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: #f1f5f7;
}

.main-footer-top li {
  display: inline-block;

  margin-right: 55px;

  list-style: none;
}

.main-footer-top nav {
  float: right;
}

.footer-navigation-top li {
  margin-top: 25px;
}

.footer-navigation-top li:last-child,
.footer-navigation-bottom li:last-child {
  margin-right: 0;
}

.footer-navigation-bottom a {
  color: #ffd180;
}

.main-footer-top a:hover {
  text-decoration: underline;
}

.main-footer-top a:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-bottom {
  margin-top: -7px;
  margin-left: 3px;
}

.footer-navigation-bottom {
  margin-top: -61px;
}

.main-header {
  background-color: #f4f8fa;
}

.main-header-top {
  height: 42px;
  margin-bottom: 49px;

  background-color: #293449;
}

.main-header-top a {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  color: #ffffff;
}

.main-header-middle {
  font-family: Cuprum, Candara, sans-serif;
}

.main-header-middle nav {
  float: left;

  width: 940px;
  height: 60px;
  margin-bottom: 60px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.main-navigation ul {
  margin: 0 22px;
  padding: 0;

  list-style: none;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation a {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;

  display: block;

  padding: 20px 29px;

  color: #ffffff;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-popular-brands {
  margin-bottom: 65px;
}

.main-popular-header {
  height: 89px;
  margin-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;

  background-color: #f7f3ec;
}

.main-popular-header a {
  float: right;

  width: 233px;
}

.main-popular-header .btn {
  margin-top: 25px;
}

.main-popular-items {
  margin-bottom: 21px;
}

.main-popular-items article {
  margin-right: 20px;
}

.main-search {
  position: relative;

  float: left;
}

#main-search {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  width: 270px;
  padding: 12px;
  padding-left: 48px;

  color: #ffffff;
  border: none;
  background: none;
}

#main-search ~ label::before {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  content: "";

  opacity: 0.3;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -285px 0;
}

#main-search:hover {
  opacity: 1;
  background-color: #212a3a;
}

#main-search:hover ~ label::before {
  opacity: 1;
}

#main-search:focus {
  color: #000000;
  background-color: #ffffff;
}

#main-search:focus ~ label::before {
  opacity: 1;
  background-position: -305px 0;
}

.new-item::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  content: "";

  background: url("../img/icons/new-item.png") no-repeat;
}

article.new-item::after {
  top: -1px;
  right: -1px;
}

.phone {
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;

  position: relative;

  padding: 7px;
  padding-right: 50px;
  padding-left: 70px;

  color: #e9292a;
  border: 3px solid #ffffff;
}

.phone::before {
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  content: "";

  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -215px 0;
}

.pagination {
  float: left;

  margin-top: 32px;
  margin-bottom: 34px;
}

.pagination a {
  display: inline-block;

  width: 22px;
  height: 22px;
  margin-right: 5px;
  padding: 7px 8px;
  padding-right: 7px;
  padding-bottom: 8px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.pagination a:last-child {
  width: 120px;
}

.pagination .active-page {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination a:hover {
  border-color: #bdc6ca;
}

.pagination a:active {
  border-color: #ee3643;
}

.product-item {
  position: relative;

  float: left;

  width: 218px;
  height: 316px;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.product-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-item:last-child {
  margin-right: 0;
}

.product-item a {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;

  display: block;

  margin-top: 3px;

  text-align: center;

  color: inherit;
}

.product-item p {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  margin-top: 11px;
  margin-left: 4px;

  text-align: center;
  text-transform: uppercase;
}

.product-item .price {
  text-decoration: line-through;

  color: #999999;
}

.product-item .price-now {
  position: absolute;
  bottom: -7px;
  left: 37px;

  width: 141px;
  height: 38px;
  padding-top: 10px;

  color: #ffffff;
  background: url("../img/icons/price-label.png") no-repeat;
}

.item-hover {
  position: absolute;

  display: none;

  width: 218px;
  height: 168px;

  background-color: #ffffff;
}

.item-hover a {
  font-size: 14px;
  font-weight: 400;

  position: absolute;

  padding: 10px;
  padding-left: 13px;

  text-transform: uppercase;

  color: #ffffff;
  border-radius: 3px;
}

.btn-cart {
  top: 40px;
  left: 39px;

  width: 120px;
  height: 25px;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.btn-cart::before {
  position: absolute;
  top: 12px;
  left: 12px;

  width: 17px;
  height: 16px;

  content: "";

  opacity: 0.3;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
}

.btn-feature {
  top: 95px;
  left: 39px;

  width: 115px;
  height: 22px;

  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.btn-cart:hover {
  background-color: #5fbc29;
}

.btn-cart:hover::before {
  opacity: 1;
}

.btn-cart:active {
  background-color: #508631;
}

.btn-feature:hover {
  border: 3px solid #32425c;
}

.btn-feature:active {
  opacity: 0.3;
}

.item-hover a:last-child {
  color: #32425c;
}

.product-item:hover .item-hover {
  display: block;
}

.popular-brand {
  float: left;

  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.popular-brand:nth-child(4),
.popular-brand:last-child {
  margin-right: 0;
}

.popular-brand:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brand:active {
  opacity: 0.3;
}

.tagline {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;

  float: left;

  width: 248px;
  margin-right: 20px;
  margin-left: 52px;

  color: #ee3643;
}

.top-features {
  position: relative;

  float: left;

  min-width: 940px;
  height: 320px;
  margin-top: 54px;
}

.top-features input {
  display: none;
}

.top-features-controls {
  position: absolute;
  top: 40px;
  left: 0;

  width: 240px;
  min-height: 285px;
}

.top-features-controls::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 10px;
  height: 272px;
  margin-top: -45px;

  content: "";

  background: url("../img/icons/top-features-slide-shadow.png") no-repeat;
}

.top-features-slides {
  position: relative;
  top: 0;
  left: 318px;

  overflow: hidden;

  max-width: 620px;
  height: 320px;
}

.top-features-controls label {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;

  display: block;

  width: 194px;
  height: 34px;
  padding: 13px 23px;

  cursor: pointer;

  color: #ffffff;
  background-color: #2f405c;
  box-shadow: inset 0 -1px 0 #293449;
}

.top-features-controls label:hover {
  background-color: #253148;
}

.top-feature p {
  margin-top: 30px;
}

#feature-btn1:checked ~ .top-features-controls label:first-child {
  color: #32425c;
  background-color: #ffffff;
}

#feature-btn2:checked ~ .top-features-controls label:nth-child(2) {
  color: #32425c;
  background-color: #ffffff;
}

#feature-btn3:checked ~ .top-features-controls label:last-child {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 white;
}

.top-feature {
  position: absolute;

  float: left;

  min-width: 610px;
  height: 320px;
  padding: 2px;
}

.top-feature-title {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 36px;

  margin-top: 42px;
  margin-bottom: 25px;

  text-transform: uppercase;

  color: #32425c;
}

.top-feature:first-child p {
  width: 275px;
}

.top-feature:nth-child(2) p {
	width: 375px;
}

.top-feature:first-child {
  background: url(../img/service-delivery.png) no-repeat;
  background-position: right bottom;
}

.top-feature:nth-child(2) {
  background: url(../img/service-guarantee.png) no-repeat;
  background-position: right bottom;
}

.top-feature:last-child {
  background: url(../img/service-credit.png) no-repeat;
  background-position: right bottom;
}

.top-feature:last-child a {
  display: block;

  width: 171px;
  margin-top: 31px;
}

.technics {
  background-color: #dc91d8;
}

.technics::before {
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-position: -50px 0;
}

.sales {
  background-color: #8dd78f;
}

.sales::before {
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-position: -215px 0;
}

.slider {
  position: relative;

  float: left;
  overflow: hidden;

  max-width: 620px;
  max-height: 266px;
  margin-top: 20px;
}

.slider input {
  display: none;
}

.slider-controls label {
  position: absolute;
  top: 225px;
  left: 300px;

  width: 10px;
  height: 10px;

  cursor: pointer;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  background: #ffffff;
}

.slider-controls label:last-child {
  left: 320px;
}

.slider-controls::after {
  position: absolute;
  z-index: 1;
  top: 225px;
  left: 300px;

  width: 6px;
  height: 6px;

  content: "";
  cursor: pointer;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background: #ff5257;
}

#btn-1:checked ~ .slider-controls::after {
  z-index: 2;
}

#btn-2:checked ~ .slider-controls::after {
  z-index: 2;
  left: 320px;
}

.slide {
  float: left;

  width: 620px;
  height: 266px;
}

.arrows {
  position: relative;

  cursor: pointer;
}

.arrows label:after {
  background: url("../img/icons/sprite-slider-arrows.png") no-repeat;
}

.arrows label:first-child:after {
  position: absolute;
  top: 114px;
  left: 25px;

  display: block;

  width: 22px;
  height: 40px;

  content: "";
  cursor: pointer;

  background-position: -5px -5px;
}

.arrows label:last-child:after {
  position: absolute;
  top: 114px;
  right: 20px;

  display: block;

  width: 22px;
  height: 40px;

  content: "";
  cursor: pointer;

  background-position: -37px -5px;
}

.slide-title {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;

  padding: 26px;

  text-transform: uppercase;

  color: #ffffff;
}

.slide-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  display: block;

  margin: 0;
  margin-top: -48px;
  padding: 26px;

  color: #ffffff;
}

.btn-slide {
  display: block;

  width: 175px;
  margin-top: 96px;
  margin-left: 25px;
}

.slide:first-child {
  background-image: url(../img/slider.jpg);
}

.slide:last-child {
  background-image: url(../img/second-slider.jpg);
}

.user-block {
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;

  float: right;

  width: 300px;
  margin-top: -5px;
}

.user-block a {
  color: #000000;
  background-color: #ffffff;
}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:active {
  opacity: 0.3;
  color: #000000;
}

.user-btn-signin {
  position: relative;

  float: left;

  margin-left: 17px;
  padding: 15px 25px;
  padding-left: 48px;
}

.user-btn-signin::before {
  position: absolute;
  top: 16px;
  left: 14px;

  width: 20px;
  height: 17px;

  content: "";

  opacity: 0.3;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -240px 0;
}

.user-btn-signin:hover::before {
  opacity: 1;
}

.user-btn-signin:active {
  opacity: 0.3;
}

.user-btn-signup {
  float: right;

  padding: 15px 25px;
}

.user-block-signin {
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;

  position: relative;

  float: right;

  width: 300px;
  margin-top: -5px;
}

.user-block-signin > a {
  color: #000000;
  background-color: #ffffff;
}

.user-block-signin a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name {
  display: block;
  float: right;

  width: 252px;
  height: 32px;
  padding-top: 14px;
  padding-left: 47px;
}

.user-name::before {
  font-size: 0;

  position: absolute;
  top: 14px;
  left: 13px;

  width: 20px;
  height: 18px;

  content: "";

  opacity: 0.3;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -325px 0;
}

.user-name:hover::before {
  opacity: 1;
}

.user-name:active::before {
  opacity: 0.3;
}

.user-exit {
  font-size: 0;

  right: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "";

  background-color: red;
}

.user-exit::before {
  font-size: 0;

  position: absolute;
  top: 15px;
  right: 10px;

  width: 21px;
  height: 17px;

  content: "";

  opacity: 0.3;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -262px 0;
}

.user-exit:hover::before {
  opacity: 1;
}

.user-exit:active::before {
  opacity: 0.3;
}

.user-block-menu {
  position: relative;

  float: left;

  padding-top: 6px;
  padding-left: 2px;
}

.user-block-menu::before {
  position: absolute;
  top: 17px;
  left: 110px;

  width: 4px;
  height: 4px;

  content: "";
  transform: translate(-50%, -50%);

  border-radius: 4px;
  background-color: #32425c;
}

.user-block-menu a {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 16px;
  font-weight: 400;

  display: inline-block;

  margin-right: 10px;
  margin-left: 17px;

  text-decoration: underline;

  color: #32425c;
  background: none;
}

.user-block-menu a:hover {
  color: #ee3643;
}

.user-block-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  margin-left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2) {
  margin-left: 660px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  margin-left: -660px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  margin-left: 0;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: 0;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: 660px;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 1220px;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: -660px;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: 0;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 660px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: -1220px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: -660px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 0;
}

.btn {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  padding-top: 11px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 11px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
}

.btn:hover {
  background-color: #cb2834;
}

.btn:active {
  background-color: #bb222f;
}

.modal-content-write-us {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;

  position: fixed;
  z-index: 20;
  top: 135px;
  left: 50%;

  width: 620px;
  height: 427px;
	margin-left: -310px;

  color: #000000;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.float-write-us {
  animation: float 0.6s ease-out;
}

@keyframes float {
  0%   {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
  font-size: 0;

  position: absolute;
  top: 7px;
  right: 7px;

  width: 25px;
  height: 25px;

  cursor: pointer;

  border: 0;
  background: none;
}

.modal-content-close::before,
.modal-content-close::after {
  position: absolute;
  top: 10px;
  right: 0;

  width: 25px;
  height: 5px;

  content: "";

  border-radius: 1px;
  background-color: #ee3643;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.form-write-us {
  width: 460px;
  margin-bottom: -45px;
  padding: 55px 80px;
  padding-top: 48px;
}

.form-write-us input,
.form-write-us textarea {
  font-family: "PT Sans", Candara, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  width: 190px;
  margin: 10px auto;
  padding: 10px 13px;

  border: 2px solid #d7dcde;
}

.form-write-us textarea {
  width: 100%;
  height: 90px;

  resize: none;
}

.write-us-name {
  float: left;

  width: 220px;
  margin-right: 20px;
}

.write-us-email {
  float: right;

  width: 220px;
}

.write-us-text {
  float: left;

  width: 430px;
  margin: 0;
  margin-top: 10px;
}

.write-us-submit-btn {
  float: left;

  margin-top: 10px;

  background-color: #f1f1f1;
}

.write-us-submit {
  width: 460px;
  margin: 37px 80px;

  cursor: pointer;

  border: 0;
}

.modal-content-map {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;

  transform: translate(-50%, -50%);

  background: url("../img/big-map.png") no-repeat;
  box-shadow: 0 0 15px 1px rgba(35, 31, 32, 0.5);

	animation: appear 1s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modal-content-map iframe {
	border: none;
}

.modal-content-add-to-cart {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 30px;
  line-height: 30px;

  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;

  width: 620px;

  transform: translate(-50%, -50%);

  color: #000000;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);

  animation: appear 0.1s ease-out;
}

.add-to-cart-top {
  position: relative;

  margin: 68px 125px;
  margin-left: 180px;
}

.add-to-cart-top p::before {
  position: absolute;
  top: -18px;
  left: -100px;

  width: 66px;
  height: 66px;

  content: "";

  background: url("../img/icons/add-to-cart.png");
}

.add-to-cart-bottom {
  font-size: 0;

  padding: 37px 80px;

  background-color: #f1f1f1;
}

.add-to-cart-bottom a {
  font-size: 14px;

  display: inline-block;

  width: 201px;
  margin: 0;
  margin-right: 20px;
}

.add-to-cart-bottom a:last-child {
  margin-right: 0;

  color: #000000;
  background-color: #ffffff;
}

#main-search::-webkit-input-placeholder {
  color: #ffffff;
}

#main-search::-moz-placeholder {
  color: #ffffff;
}

#main-search:-moz-placeholder {
  color: #ffffff;
}

#main-search:-ms-input-placeholder {
  color: #ffffff;
}

#form-write-us::-webkit-input-placeholder {
  color: #999999;
}

#form-write-us::-moz-placeholder {
  color: #999999;
}

#form-write-us:-moz-placeholder {
  color: #999999;
}

#form-write-us:-ms-input-placeholder {
  color: #999999;
}
