html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  min-width: 1200px;
  font-family: "PT Sans", Candara, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.about-us {
  float: left;
  width: 519px;
  height: 368px;
}

.about-us ul {
  margin-bottom: 40px;
}

.about-us .btn {
  display: block;
  width: 200px;
}

.about-category {
  height: 261px;
  background-color: #f3f7f9;
}

.address {
  float: left;
  width: 380px;
  color: #f1f5f7;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.breadcrumbs {
  margin-top: 20px;
  line-height: 18px;
  text-transform: uppercase;
}

.btn {
  font-family: Cuprum, Candara, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  background-color: #ee3643;
  border-radius: 5px;
}

.btn:hover {
  background-color: #cb2834; !important
}

.btn:active {
  background-color: #bb222f; !important
}

.category {
  float: left;
  position: relative;
  margin-right: 20px;
  width: 300px;
  height: 123px;
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.category::before {
  content: "";
  position: absolute;
  background: url("../img/icons/sprite-big-icons.png") no-repeat;
}

.category p {
  margin-left: 23px;
  margin-top: 20px;
}

.category-btn {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.category-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category:nth-child(n+3) {
  float: right;
  margin-right: 0;
}

.category:nth-child(n+4) {
  margin-top: 20px;
}

.category a {
  margin-top: -10px;
  display: block;
  margin-left: 23px;
  padding-top: 10px;
  text-align: center;
  width: 135px;
  height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.cart {
  float: left;
  position: relative;
  padding-left: 49px;
  padding-top: 12px;
  width: 101px;
  height: 30px;
}

.cart:hover {
  background-color: #212a3a;
}

.cart:active {
  color: #999ca1;
  background-color: #161d29;
}

.cart::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 12px;
  width: 17px;
  height: 16px;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.catalog-header {
  width: 910px;
  padding: 30px;
  background-color: #f2f6f8;
}

.catalog-filters {
  float: left;
  width: 220px;
}

.catalog-items {
  float: right;
  width: 700px;
}

.catalog-items article {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-items article:nth-child(3n) {
  margin-right: 0;
}

.catalog-sort {
  float: right;
  width: 700px;
  margin-bottom: 20px;
}

.checkout {
  float: right;
  padding-left: 20px;
  padding-top: 12px;
  background-color: #63a63e;
  width: 130px;
  height: 30px;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: #9ebb8e;
  background-color: #518534;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.contacts {
  float: right;
  width: 301px;
  height: 368px;
}

.contacts .btn {
  display: block;
  width: 281px;
}

.contacts .map {
  margin-bottom: 40px;
}

.delivery {
  background-color: #ffc047;
}

.delivery-company li {
  list-style: none;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;
  padding-bottom: 15px;
}

.delivery-company li:first-child {
  padding-top: 4px;
}

.delivery-company li:last-child {
  padding-bottom: 0;
}

.delivery::before {
  background-position: -280px 0;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
}

.favorites {
  float: left;
  padding-left: 44px;
  position: relative;
  padding-top: 12px;
  width: 106px;
  height: 30px;
}

.favorites::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 12px;
  width: 14px;
  height: 16px;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -20px 0;
  opacity: 0.3;
}

.favorites:hover {
  background-color: #212a3a;
}

.favorites:active {
  color: #999ca1;
  background-color: #161d29;
}

.favorites:hover::before {
  opacity: 1;
}

.favorites:active::before {
  opacity: 0.5;
}

.filter-name {
  float: left;
  width: 220px;
}

.feature-header-title {
  font-family: Cuprum, Candara, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
  padding-top: 68px;
}

.footer-top {
  margin-bottom: 27px;
}

.footer-copyright {
  float: left;
  margin-top: 39px;
  width: 300px;
}

.footer-logo {
  float: left;
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ef3341;
}

.footer-logo a img:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-social {
  float: left;
  position: relative;
  width: 150px;
  margin-left: 90px;
  margin-top: 30px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  font-size: 0;
  margin: 0 2px;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 20px;
}

.social-btn::before {
  position: absolute;
  content: "";
  background: url("../img/icons/sprite-small-icons.png") no-repeat center;
}

.social-btn-vk::before {
  width: 20px;
  height: 12px;
  top: 20px;
  left: 15px;
  background-position: -155px 0;
}

.social-btn-fb::before {
  width: 10px;
  height: 18px;
  top: 15px;
  left: 70px;
  background-position: -180px 0;
}

.social-btn-ig::before {
  width: 17px;
  height: 17px;
  top: 17px;
  left: 115px;
  background-position: -193px 0;
}

.social-btn:hover {
  background-color: #ee3643;
}

.footer-mailto {
  float: left;
  display: block;
  width: 160px;
  margin-left: 100px;
  margin-top: 24px;
}

.footer-credits {
  float: right;
  margin-right: 15px;
  margin-top: 24px;
}

.footer-mailto a,
.footer-credits a {
  display: block;
  margin-top: -16px;
}

.footer-mailto a:hover,
.footer-credits a:hover {
  text-decoration: underline;
}

.footer-mailto a:active,
.footer-credits a:active {
  text-decoration: none;
  color: #ee3643;
}

.header-middle {
  margin-bottom: 38px;
}

.header-title {
  float: left;
  padding-top: 5px;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  line-height: 30px;
}

.instruments {
  background-color: #3bbce3;
}

.instruments::before {
  background-position: -135px 0;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
}

.logo {
  float: left;
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ef3341;
}

.logo img:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo img:active {
  background-color: #bb222f;
}

.materials {
  background-color: #ffc047;
}

.materials::before {
  background-position: 0 0;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
}

.main-about-us {
  height: 536px;
}

.main-about-us h2 {
  padding-top: 55px;
}

.main-address {
  display: block;
  color: #32425c;
  text-align: center;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.main-categories {
  margin-top: 59px;
  margin-bottom: 53px;
}

.main-contacts {
  float: left;
  margin-top: 10px;
  width: 270px;
}

.main-features {
  height: 522px;
  background-color: #f5f9f9;
}

.main-footer-bottom {
  height: 107px;
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.main-footer-bottom a {
  color: #ffd180;
}

.main-footer-top {
  height: 193px;
  background-color: #2f405c;
}

.main-footer-top a {
  color: #f1f5f7;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.main-footer-top li {
  display: inline-block;
  list-style: none;
  margin-right: 60px;
}

.main-footer-top nav {
  float: right;
}

.footer-navigation-top li {
  margin-top: 20px;
}

.footer-navigation-top li:last-child,
.footer-navigation-bottom li:last-child {
  margin-right: 0;
}

.footer-navigation-bottom a {
  color: #ffd180;
}

.main-footer-top a:hover {
  text-decoration: underline;
}

.main-footer-top a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-navigation-bottom {
  margin-top: -60px;
}

.main-header {
  background-color: #f4f8fa;
}

.main-header-top {
  height: 42px;
  background-color: #293449;
  margin-bottom: 49px;
}

.main-header-top a {
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.main-header-middle {
  font-family: Cuprum, Candara, sans-serif;
}

.main-header-middle nav {
  float: left;
  width: 940px;
  height: 60px;
  box-shadow: inset 0 -5px 0 #253148;
  background-color: #2f405c;
  margin-bottom: 60px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation a {
  display: block;
  padding: 21px 30px;
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  opacity: 0.5;
  color: #ffffff;
  background-color: #1d2739;
}

.main-popular-brands {
  margin-bottom: 65px;
}

.main-popular-header {
  height: 89px;
  margin-bottom: 20px;
  padding-left: 30px;
  background-color: #f7f3ec;
}

.main-popular-header a {
  float: right;
  width: 233px;
}

.main-popular-header .btn {
  margin-top: 25px;
  margin-right: 24px;
}

.main-popular-items {
  margin-bottom: 21px;
}

.main-popular-items article {
  margin-right: 20px;
}

.new-item::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background: url("../img/icons/new-item.png") no-repeat;
}

.phone {
  position: relative;
  padding: 7px;
  padding-left: 70px;
  padding-right: 50px;
  color: #e9292a;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  border: 3px solid #ffffff;
}

.phone::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 10px;
  width: 19px;
  height: 19px;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -215px 0;
}

.pagination {
  float: left;
  margin-top: 32px;
  margin-bottom: 25px;
}

.product-item {
  float: left;
  position: relative;
  width: 218px;
  height: 316px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.product-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-item:last-child {
  margin-right: 0;
}

.product-item a {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product-item p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.product-item .price {
  color: #999999;
  text-decoration: line-through;
}

.product-item .price-now {
  position: absolute;
  width: 141px;
  height: 38px;
  left: 39px;
  bottom: -5px;
  padding-top: 10px;
  background: url("../img/icons/price-label.png") no-repeat;
  color: #ffffff;
}

.item-hover {
  position: absolute;
  display: none;
  width: 218px;
  height: 168px;
  background-color: #ffffff;
}

.item-hover a {
  position: absolute;
  padding: 10px;
  padding-left: 13px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
}

.btn-cart {
  left: 39px;
  top: 40px;
  width: 120px;
  height: 25px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}

.btn-cart::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  width: 17px;
  height: 16px;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  opacity: 0.3;
}

.btn-feature {
  left: 39px;
  top: 95px;
  width: 115px;
  height: 22px;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.btn-cart:hover {
  background-color: #5fbc29;
}

.btn-cart:hover::before {
  opacity: 1;
}

.btn-cart:active {
  background-color: #508631;
}

.btn-feature:hover {
  border: 3px solid #32425c;
}

.btn-feature:active {
  opacity: 0.3;
}

.item-hover a:last-child {
  color: #32425c;
}

.product-item:hover .item-hover {
  display: block;
}

.popular-brand {
  float: left;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.popular-brand:nth-child(4), .popular-brand:last-child {
  margin-right: 0;
}

.popular-brand:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brand:active {
  opacity: 0.3;
}

.tagline {
  float: left;
  margin-left: 52px;
  margin-right: 20px;
  width: 248px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.top-features {
  float: left;
  position: relative;
  min-width: 630px;
  min-height: 285px;
  overflow: hidden;
}

.top-feature {
  float: left;
  position: absolute;
  min-width: 630px;
  height: 285px;
}

.top-feature-title {
  color: #32425c;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.top-feature p {
  width: 370px;
}

.top-feature:first-child {
  background: url(../img/service-delivery.png) no-repeat;
  background-position: right bottom;
}

.top-feature:nth-child(2) {
  background: url(../img/service-guarantee.png) no-repeat;
  background-position: right bottom;
}

.top-feature:last-child {
  background: url(../img/service-credit.png) no-repeat;
  background-position: right bottom;
}

.technics {
  background-color: #dc91d8;
}

.technics::before {
  background-position: -50px 0;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
}

.sales {
  background-color: #8dd78f;
}

.sales::before {
  background-position: -215px 0;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
}

.search {
  float: left;
  position: relative;
}

.search input {
  padding: 12px;
  padding-left: 48px;
  width: 210px;

  background: none;
  border: none;
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 12px;
  width: 17px;
  height: 17px;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -285px 0;
  opacity: 0.3;
}

.search input:hover {
  background-color: #212a3a;
}

.search:hover::before {
  opacity: 1;
}

.search input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search:focus::before {
  background-position: -305px 0;
}

.slider {
  float: left;
  position: relative;
  margin-top: 20px;
  max-width: 620px;
  max-height: 266px;
  overflow: hidden;
}

.slider input {
  position: absolute;
  top: 220px;
}

input#btn-1 {
  left: 295px;
}

input#btn-2 {
  left: 317px;
}

.slide {
  float: left;
  width: 620px;
  height: 266px;
}

.slider-controls {
  cursor: pointer;
  position: relative;
}

.slider-controls label:first-child:after {
  position: absolute;
  cursor: pointer;
  content: "";
  display: block;
  left: 25px;
  top: 114px;
  width: 22px;
  height: 40px;
  background: url("../img/icons/-icon-left.png") no-repeat;
}

.slider-controls label:last-child:after {
  position: absolute;
  cursor: pointer;
  content: "";
  display: block;
  right: 20px;
  top: 114px;
  width: 22px;
  height: 40px;
  background: url("../img/icons/-icon-right.png") no-repeat;
}

.slide-title {
  padding: 26px;
  color: #ffffff;
  font-family: Cuprum, Candara, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.slide-text p {
  margin: 0;
  display: block;
  margin-top: -48px;
  padding: 26px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.btn-slide {
  display: block;
  width: 175px;
  margin-left: 25px;
  margin-top: 90px;
}

.slide:first-child {
  background-image: url(../img/slider.jpg);
}

.slide:last-child {
  background-image: url(../img/second-slider.jpg);
}

.user-block {
  float: right;
  margin-top: -5px;
  width: 300px;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
}

.user-block a {
  color: #000000;
  background-color: #ffffff;
}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:active {
  color: #000000;
  opacity: 0.3;
}

.user-btn-signin {
  float: left;
  position: relative;
  padding: 15px 25px;
  padding-left: 48px;
  margin-left: 17px;
}

.user-btn-signin::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 16px;
  width: 20px;
  height: 17px;
  background: url("../img/icons/sprite-small-icons.png") no-repeat;
  background-position: -240px 0;
  opacity: 0.3;
}

.user-btn-signin:hover::before {
  opacity: 1;
}

.user-btn-signin:active {
  opacity: 0.3;
}

.user-btn-signup {
  float: right;
  padding: 15px 25px;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
margin-left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2) {
margin-left: 660px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
margin-left: -660px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
margin-left: 0;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: 0;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: 660px;
}

#feature-btn1:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 1220px;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: -660px;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: 0px;
}

#feature-btn2:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 660px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(1) {
  margin-left: -1220px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(2) {
  margin-left: -660px;
}

#feature-btn3:checked ~ .top-features-slides .top-feature:nth-child(3) {
  margin-left: 0px;
}

::-webkit-input-placeholder {
  color: #ffffff;;
}

::-moz-placeholder {
  color: #ffffff;;
}

:-moz-placeholder {
  color: #ffffff;;
}

:-ms-input-placeholder {
  color: #ffffff;
}
